@import "normalize.css";
@import "elements.less";
@import "drupal.less";

body, table {
	font-family: "museo-sans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size:13px;
}

body, html {
	background:#eee;
}

#head {
	background:#333;
	color:#fff;
	padding:.5em 1em;
	line-height:1.5em;
	font-size:15px;
	text-align:left;
	position:relative;
	h1 {
		font-size:15px;
		line-height:1.5em;
	}
	#logo {
		position:absolute;
		top:0px;
		right:20px;
		height:100%;
		width:400px;
		background: url("images/logo_columby.png") no-repeat center right;
		background-size:auto 50%;
	}
}