@import "normalize.css";
a{color:#000;text-decoration:underline;display:block;margin:1em 4em;}
.iati .iati-frame{margin:10px 10px 20px 10px;overflow-x:hidden;background:#fff;width:auto;}.iati .iati-frame .spinner{background:#ffffff url("images/activity_indicator.gif") no-repeat center;background-size:50%;width:30px;height:30px;}
.iati .iati-frame table{width:auto;border:1px solid #eee;margin:0em 2em 1em 2em;}.iati .iati-frame table tbody{width:auto;}
.iati .iati-frame table tr:nth-child(odd){background:#fafafa;}
.iati .iati-frame table td{padding:0.5em 1em;}
.iati .iati-frame table td:nth-child(1){font-weight:bold;}
.iati .iati-frame table td:nth-child(2){text-align:left;}
.iati .iati-frame #paging{text-align:right;padding:1em 4em;}.iati .iati-frame #paging>div{padding:0.2em 0.5em;margin:0.1em;display:inline-block;border:1px solid #eee;}
.iati .iati-frame #paging .spinner{height:auto;width:20px;margin:0.1em;font-size:inherit;}
.iati .iati-frame #paging #prev,.iati .iati-frame #paging #next{color:#999;cursor:pointer;}.iati .iati-frame #paging #prev.active,.iati .iati-frame #paging #next.active{color:#000;}
.iati .iati-frame #paging #prev:hover,.iati .iati-frame #paging #next:hover{background:#eee;}
.iati .iati-frame>div>div>.rij{border-top:3px solid #eee;}
.iati .iati-frame .rij{padding:.1em 2em;}.iati .iati-frame .rij table{margin:1em 0;}.iati .iati-frame .rij table td{width:50%;}
.iati .iati-frame .rij>.rij{border:0px;margin-left:40px;}
.iati .iati-frame .rij .klik{cursor:pointer;}
.iati .iati-frame .rij h5 b{font-weight:100;}
.iati .iati-frame .rij :hover h5 i{color:#00f;}
.iati .iati-frame .rij .transaction h5{color:#999;}
.iati .iati-frame .rij .description{color:#999;max-width:700px;margin:1em 0;}
.iati .iati-frame .rij .attributes{max-width:700px;}.iati .iati-frame .rij .attributes .attribute{background:#eee;margin:0 2px 2px 0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;line-height:1.5em;padding:0 0.5em;font-size:11px;display:inline-block;}.iati .iati-frame .rij .attributes .attribute label{color:#999;font-size:11px;display:inline;}
.iati .iati-frame .activity{border-top:2px solid #eee;}
body,table{font-family:"museo-sans","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;font-size:13px;}
body,html{background:#eee;}
#head{background:#333;color:#fff;padding:.5em 1em;line-height:1.5em;font-size:15px;text-align:left;position:relative;}#head h1{font-size:15px;line-height:1.5em;}
#head #logo{position:absolute;top:0px;right:20px;height:100%;width:400px;background:url("images/logo_columby.png") no-repeat center right;background-size:auto 50%;}
