@charset "UTF-8";

 @font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?10968700');
  src: url('../font/fontello.eot?10968700#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?10968700') format('woff'),
       url('../font/fontello.ttf?10968700') format('truetype'),
       url('../font/fontello.svg?10968700#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?10968700#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-heart-1:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-plus-squared-small:before { content: '\28'; } /* '(' */
.icon-minus-squared-small:before { content: '\48'; } /* 'H' */
.icon-link-ext:before { content: '\21'; } /* '!' */
.icon-tag:before { content: '\e70c'; } /* '' */
.icon-tags:before { content: '\e70d'; } /* '' */
.icon-bookmark-1:before { content: '\e806'; } /* '' */
.icon-bookmark-empty:before { content: '\e807'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-cog-alt:before { content: '\26ef'; } /* '⛯' */
.icon-wrench:before { content: '🔧'; } /* '\1f527' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-truck:before { content: '🚚'; } /* '\1f69a' */
.icon-user:before { content: '👤'; } /* '\1f464' */
.icon-users:before { content: '👥'; } /* '\1f465' */
.icon-heart-empty:before { content: '\e805'; } /* '' */
.icon-info-circled:before { content: '\e705'; } /* '' */
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-link:before { content: '🔗'; } /* '\1f517' */
.icon-bookmark:before { content: '🔖'; } /* '\1f516' */
.icon-bookmarks:before { content: '📑'; } /* '\1f4d1' */
.icon-download:before { content: '📥'; } /* '\1f4e5' */
.icon-comment:before { content: '\e718'; } /* '' */
.icon-chat:before { content: '\e720'; } /* '' */
.icon-archive:before { content: '\e738'; } /* '' */
.icon-rss:before { content: '\e73a'; } /* '' */
.icon-share:before { content: '\e73c'; } /* '' */
.icon-megaphone:before { content: '\e808'; } /* '' */
.icon-twitter-circled:before { content: '\e804'; } /* '' */
.icon-facebook-circled:before { content: '\e800'; } /* '' */
.icon-gplus-circled:before { content: '\e801'; } /* '' */
.icon-linkedin-circled:before { content: '\e803'; } /* '' */
.icon-clock:before { content: '🕔'; } /* '\1f554' */
.icon-user-add:before { content: '\e700'; } /* '' */